#titulo {
    text-align: center
}

#horizontal {
    float: left;
  }

#horizontal a {
    display: block;
    color: black;
    text-align: center;
    padding: 6px 275px;
    text-decoration: none;
}
  
#horizontal a:hover:not(.active) {
    color: #00ff2a;
} 

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }