#titulo {
    text-align: center
}

#horizontal {
    float: left;
  }

#horizontal a {
    display: block;
    color: white;
    text-align: center;
    padding: 6px 125px;
    text-decoration: none;
}
  
#horizontal a:hover:not(.active) {
    background-color: #111;
}  

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }