#titulo {
  text-align: center;
  font-size: clamp(5vw, 6vw, 7vw);
  font-family: Edda Filled;
  margin: 0%;
  color:#ffffff;
}

.descricao{
  max-width: 150%;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: clamp(65vw, 85vw, 90vw);
  font-size:clamp(3vw, 5vw, 4vw);
  color: white;
  }
  

/* menu vertical */
body {
  background-image: url('https://i.imgur.com/hXSBxRY_d.webp?maxwidth=760&fidelity=grand');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 720px;
    margin: 0 auto;
    height: 10vh;
    list-style: none;
  }
  
  .menu li {
    width: 125px;
    height: 0px;
    transition: background-position-x 0.9s linear;
    text-align: center;
  
    a {
      font-size: 22px;
      color: #ffffff;
      text-decoration: none;
      transition: all 0.45s;
    }
  
  
    &:hover a {
      color: #bd4232;
    }
  
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
  
  /* link dos singles */

  .single:link, .single:visited {
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  .single:hover, .single:active {
    color: #bd4232;
  }